body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f34d1aa0;
  }

  h1 {
      position: relative;
    color: #4285F4;
    text-align: center;
  }

  .product-blocks {
      position: absolute;
      display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .product-block {
    width: 250px;
    margin: 15px;
    background-color: #ec5818bb;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
  }

  .product-block .logo {
    font-size: 48px;
    margin-bottom: 10px;
  }

  .product-block a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }

  .product-block a:hover {
    text-decoration: underline;
  }
  .img1{
      width: 100%;
      height: 100%;
      position: absolute;
      margin-top: -20px;
      margin-left: -20px;
  }